@import '../../../sass/colors';

.feedback {
    background-color: $secondary-color;
    color: $white-l;
    padding: 10px;
    border-radius: 12px;
}

.feedback__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: start;
}

.feedback__header {
    font-size: 19px;
    font-weight: 500;
}

.feedback__close {
    background-color: $secondary-color;
    border: none;
    color: $white-l;
    font-size: 16px;
    font-weight: 500;
}

.feedback__bottom {
    font-size: 14px;

}