<h2 class="main_content_header">
    Home
</h2>
<h3>Принцип работы приложения</h3>
<div class="home__basics">
    <h4>1. Домашняя страница</h4>
    Открыта в любом стейте.
    <h4>2. Страница авторизации</h4>
    Заблокирована, если юзер залогинен или если инициалицация токена ещё не закончена.
    Работает как логин так и регистрация. По нажатию на сабмит поля валидируются. Если валидация успешна, через ручку сервиса на сервер отправляется пост.
    Если пост тоже успешен, то возвращается токен и данные о юзере, происходит редайрект на страницу профайл. Если есть ошибки валидации или поста, то они отобразятся снизу формы.
    При регистрации юзеру присваиваются сервером поля имени, фамилии, роли, телефона на дефолтные (они обязательные). Тк поле вебсайта  не обязательно, то оно null по умолчанию.
    На клиенте это значение в полях хендлится как "Не указано". 
    <h4>3. Токен</h4>
    Сохраняется в локалке. При запуске приложения сверяется его наличие и отправляется на сервер для уточнения актуальности. Если актуален, то по нему происходит логин.
    Если нет - то приложение принимает неавторизированный стейт и чистит локалку, тк в этом токене больше нет смысла.
    <h4>4. Страница профайла</h4>
    Заблокирована в неавторизованном стейте или если инициалицация токена ещё не закончена.
    Содержит поля с данными юзера, которые можно поменять нажав на кнопку edit. После этого изменение можно либо сохранить, либо отменить кнопками save или cancel.
    Сохранённое изменение сначала валидируется на клиенте и в успешном кейсе, дергается ручка сервиса, которая отправляет пост на сервер. Если пост тоже успешен, то
    в приложении обновляются данные о юзере. Из шапки прилетает уведомление об измененом поле. Максимум на экране может быть 2 уведомления. Если летит третье, то оно 
    стирает самое старое.
    <h4>4. Шапка приложения</h4>
    Имеет кнопку логин/логаут в соответсвии с стейтом. В залогиненом стейте отображает ссылку на профайл в виде имени пользователя.
</div>
