<div class="login__variant" #variant>
    <h2 class="login__header">Sign in</h2>
    <form class="login__form">
        <app-base-validated-input [data]="validatedFields['login']"></app-base-validated-input>
        <app-base-validated-input [data]="validatedFields['password']"></app-base-validated-input>
        <button type="submit" class="login__btn" (click)="handleSubmitClick($event)">Sign in</button>
        <div class="login__or">don't have an account?</div>
        <button type="button" class="login__btn" routerLink="/login/sign-up">Sign up</button>
    </form>
</div>
<div class="login__error" #error>

</div>
